/* --------------------------------------- CSS RESET --------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* --------------------------------------- Empieza el css  --------------------------------------- */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.titulo {
  font-size: 36px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.descripcion {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

/* TEXTO CONTENEDOR TEXTAREA INPUT */

.texto-input {
  max-width: 1200px;
  width: 90%;
  height: 250px;
  font-size: 16px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  resize: vertical;
}

/* CONTENEDOR CON TODOS LOS PARAMETROS */

.container-contadores {
  display: grid;
  grid-gap: 3px;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(6, minmax(10px, 1fr));
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: #d3d3d3;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.numeros {
  margin: 4x;
  padding: 4px;
  border-bottom: 2px solid #b2b2b2;
  border-top: 2px solid #b2b2b2;
  border-radius: 4px;
}
/* BOTON COPIAR TODO EL TEXTO */

.container-botones {
  display: flex;
  justify-items: center;
  align-items: center;
}

.boton2 {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #5458d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.boton2:hover {
  background-color: #2b30cf;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 25% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -18px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* BOTON BORRAR TODO EL TEXTO */

.boton {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.boton:hover {
  background-color: #a81f2d;
}

/* MEDIA QUERY TABLET */

@media only screen and (max-width: 900px) {
  .container-contadores {
    grid-template-columns: repeat(3, minmax(10px, 1fr));
  }
}

/* MEDIA QUERY MOVIL */

@media only screen and (max-width: 480px) {
  .container-contadores {
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }
}
